:root {
  --bgColor:white;
  --textColor:black;
  --primaryColor: #23A6F0;
  --secondaryColor:#ffffff;
  --primaryBg: #B2E3FF;
  --secondaryBg:#FFDCD1;
  --primaryText:#252B42;
  --secondaryText:#737373;
  --starColor:#F3CD03;
  --underlineColor:#E74040;
  --pricingColor:#40BB15;
  --footerBg:#FAFAFA;
  --disabledColor:#BDBDBD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat ,Arial, Helvetica, sans-serif;
}


body{
    color: var(--textColor);
    background-color: var(--bgColor);
}
.container{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

header{
    width: 100%;
    padding: 30px 0px;
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  
}
.navRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navLinks{
    display: flex;
    align-items: center;
  
    gap: 16px;
}
.navLinks li a{
    font-size: 14px;
    font-weight: 700;
    color: var(--secondaryText);
}
.navBtns{
    display: flex;
    align-items: center;
}
.navLogo{
    font-size: 24px;
    font-weight: 700;
}
.navBtns{
    display: flex;
    gap: 32px;
}
.navBtns .loginLink{
    font-size: 14px;
    font-weight: 700;
    color: var(--primaryColor);

}
.navBtns button{
    padding:14px 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
    color: var(--secondaryColor);
    background: var(--primaryColor);
    width: 100px;

}


/* home */
.homeSection{
   background: var(--primaryBg);
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 0px;

}
.home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.homeLeft{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
   
}
.headdingTag{
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;

}
.headding{
font-size: 58px;
font-weight: 700;
line-height: 80px;
text-align: left;

}
.subHeadding{
font-size: 16px;
font-weight: 600;
line-height: 25px;
text-align: left;
max-width: 350px;

}
.homeBtns{
    display: flex;
    gap: 20px;
}
.homeBtns button{
font-size: 14px;
font-weight: 700;
line-height: 22px;
text-align: center;
padding: 12px 20px;
border-radius: 8px;
border: none;
width: 220px;
color: var(--secondaryColor);

}
.homeBtns .btnOne{
    background-color: var(--primaryColor);
}
.homeBtns .btnTwo{
    color: var(--primaryColor);
    border:2px solid var(--primaryColor);
    background-color: transparent;
}
.homeBtns .btnTwo:hover{
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}
.homeRight
{
   max-width: 100%;
}
.homeRight .mainImg{
    width: 100%;
}


/* product */

.productSection{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;

}
.products{
    width: 100%;
     display: flex;
    justify-content: space-between;
   
}
.productOne{
    max-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 40px 35px 40px;
    box-shadow: 0px 13px 19px 0px #00000022;

}
.productOne .logoBox{
    width: 50px;
    height: 50px;
    color: var(--secondaryColor);
    border-radius: 6px;
    background-color: var(--primaryColor);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productOne .productTitle{
    color: var(--primaryText);
    font-size: 14px;
    font-weight: 700;

}
.productOne .productUnderline{
    background: var(--underlineColor);
    width: 50px;
    height: 3px;

}
.productOne .productDescription{
width: 222px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: var(--secondaryText);

}

/* about */

.aboutSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
    
}
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;

}
.aboutLeft{
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.aboutLeft .aboutImg{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.aboutRight{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
.aboutRight .aboutUnderline{
    background: var(--underlineColor);
    width: 94px;
    height: 7px;

}
.aboutRight .aboutTitle{
font-size: 40px;
font-weight: 700;
line-height: 50px;

}

.aboutRight .aboutDescription{
font-size: 14px;
font-weight: 400;
line-height: 20px;

}
.aboutRight .aboutLink{
font-size: 14px;
font-weight: 700;
line-height: 24px;
color: var(--primaryColor);
transition: 2s ease;

}


/* courses */
.coursesSection{
   display: flex;
   justify-content: center;
   align-items: center;  
   width: 100%;
   
}
.courses{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 100%;
    
}
.coursesTop{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
}
.coursesTop .coursesTag{
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: var(--primaryColor);

}
.coursesTop .coursesTitle{
font-size: 40px;
font-weight: 700;
line-height: 50px;
text-align: left;
color: var(--primaryText);

}
.coursesTop .coursesDescription{
font-size: 16px;
font-weight: 500;
line-height: 20px;
text-align: left;
color: var(--secondaryText);

}
.coursesBottom{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.courseCard{
    max-width: 230px;
    display: flex;
    flex-direction: column;
}
.coursesImgBox{
  width: 100%;
  max-height: 400px;
  position: relative;
}
.coursesImgBox img{
    width: 100%;
    height: 100%;
}
.coursesImgBox .saleTag{
    background-color: var(--underlineColor);
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondaryColor);
    padding: 3px 10px;
    border-radius: 5px;
}
.coursesImgBox .iconBox{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 30px;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center ;
}
.coursesImgBox .iconBox .icon{
    background-color: var(--secondaryColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center ;
    font-size: 14px;
}
.coursesContentBox{
    display: flex;
    gap: 18px;
    flex-direction: column;
    padding: 30px 16px;
    align-items: start;
}
.coursesContentBox .contentOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.coursesContentBox .contentOne .lang{
    font-size: 14px;
    font-weight: 500;
    color: var(--primaryColor);
    
}
.coursesContentBox .contentOne .rating{
    background-color: var(--primaryText);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: var(--secondaryColor);
    display: flex;
    gap: 6px;

}
.coursesContentBox .contentTwo{
font-size: 18px;
font-weight: 700;
color: var(--primaryText);

}
.coursesContentBox .contentThree{
font-size: 13px;
font-weight: 700;
color: var(--secondaryText);
}
.coursesContentBox .contentFour{
font-size: 14px;
font-weight: 700;
color: var(--secondaryText);

}
.coursesContentBox .contentFive{
font-size: 16px;
font-weight: 700;
display: flex;
gap: 10px;

}

.coursesContentBox .contentSix{
font-size: 14px;
font-weight: 400;
gap: 6px;
display: flex;
color: var(--primaryColor);


}
.coursesContentBox .contentBtn{
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 999px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--secondaryColor);
}

/* pricing */

.pricingSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.pricing{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px   ;
}
.pricingTop{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricingTag{
font-size: 12px;
font-weight: 700;
color: var(--primaryColor);
}
.pricingTitle{
font-size: 40px;
font-weight: 700;
color: var(--primaryText);
}
.pricingDescription{
font-size: 14px;
font-weight: 400;
color: var(--secondaryText);

}
.pricingBottom{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 30px;
}
.pricingCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 320px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 60px ;
}
.pricingIcon{
    background-color: var(--pricingColor);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricingIcon i{
    font-size: 35px;
    color: var(--secondaryColor);
}
.pricingPayment{
font-size: 24px;
font-weight: 700;
color:var(--primaryText);
}
.pricingCaption{
color: var(--secondaryText);
font-size: 14px;
font-weight: 700;

}
.pricingPrice{
font-size: 40px;
font-weight: 700;
color: var(--primaryColor);

}
.pricingPrice span{
    display: block;
    color: #8EC2F2;
font-size: 14px;
font-weight: 700;
line-height: 24px;

}
.pricingContent{
 color: var(--secondaryText);
font-size: 14px;
font-weight: 400;

}
.pricingBtn{
color: var(--primaryColor);
font-size: 14px;
font-weight: 700;
background-color: var(--primaryColor);
padding: 15px 40px 15px 40px;
border-radius: 5px ;
border: none;
color: var(--secondaryColor);


}
.pricingItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 12px;

}
.pricingItem {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pricingItem:nth-child(5) i{
   color: var(--disabledColor);
}
.pricingItem:nth-child(6) i{
   color: var(--disabledColor);
}
.pricingItem span{
font-size: 12px;
font-weight: 600;
color: var(--primaryText);

}
.pricingItem i{
    font-size: 22px;
    color: var(--primaryColor);

}

/* review */

.reviewSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.review{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px   ;
   
}
.reviewTop{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviewTag{
font-size: 12px;
font-weight: 700;
color: var(--primaryColor);
}
.reviewTitle{
font-size: 40px;
font-weight: 700;
color: var(--primaryText);
}
.reviewDescription{
font-size: 14px;
font-weight: 400;
color: var(--secondaryText);

}
.reviewBottom{
    width: 80%;
    display: flex;
    align-self: center;
    gap: 50px;
    justify-content: space-between;
    padding-top: 30px;
     
}
.reviewCard{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    align-items: center;
    padding: 20px;
   
}

.reviewProfile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.reviewCaption{
max-width: 320px;
font-size: 14px;
font-weight: 400;
text-align: center;
color: var(--secondaryText);

}
.reviewStars{
    display: flex;
    gap: 12px;
    font-size: 18px;
    justify-content: center;
   
}
.reviewStars i{
     color: var(--starColor);
     font-size: 18px;
}

.reviewName{
font-size: 16px;
font-weight: 700;
color: var(--primaryText);

}
.reviewPosition{
    color: var(--secondaryText);
font-size: 14px;
font-weight: 700;


}

/* email */

.emailSection{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: var(--secondaryBg);
    padding: 120px;
}
.email{
    display: flex;
    flex-direction: column;
    gap: 80px   ;
    max-width: 100%;
    align-items: center;
    text-align: center;
}
.emailTop{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.emailTag{
font-size: 12px;
font-weight: 700;
color: var(--primaryColor);
}
.emailTitle{
font-size: 40px;
font-weight: 700;
color: var(--primaryText);
}
.emailDescription{
font-size: 14px;
font-weight: 400;
color: var(--secondaryText);

}
.emailBottom{
    display: flex;
    gap: 0;
}
.emailInp{
    padding: 20px;
    min-width: 680px;
    border: none;
    outline: none;
}
.emailBtn{
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
}
.footerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 100px;
   
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
   
}
.footer .col1{
color: var(--primaryText);
font-size: 20px;
font-weight: 700;
max-width:200px;


}
.footerTitle{
color: var(--primaryText);
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;

}
.footer .col1 p{
font-size: 12px;
font-weight: 600;
color: var(--secondaryText);
margin-top: 10px;

}
.footerIcons{
    display: flex;
    justify-content: start;
    gap: 14px;
    color: var(--primaryColor);
    margin: 13px 0px;
    margin-top: 22px;

}
.subFooter{
    padding: 28px;
    background-color:var(--footerBg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subFooterContent{
font-size: 13px;
font-weight: 600;
color: var(--secondaryText);
word-spacing: 3px;

}