:root {
  --bgColor:white;
  --textColor:black;
  --primaryColor: #23A6F0;
  --secondaryColor:#ffffff;
  --primaryBg: #B2E3FF;
  --secondaryBg:#FFDCD1;
  --primaryText:#252B42;
  --secondaryText:#737373;
  --starColor:#F3CD03;
  --underlineColor:#E74040;
  --pricingColor:#40BB15;
  --footerBg:#FAFAFA;
  --disabledColor:#BDBDBD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat ,Arial, Helvetica, sans-serif;
}


body{
    color: var(--textColor);
    background-color: var(--bgColor);
}
.container{
    max-width: 1000px;
    padding: 0px 20px ;
    margin: 0px auto;
   
    
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}

header{
    width: 100%;
    padding: 30px 0px;
    background-color: var(--secondaryColor);
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
  
}
.navRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.nav #hamBtnInp {
    display: none;
}
.hamBtn #closeBtn ,.hamBtn #openBtn{
    display: none;
    font-size: 30px;
    z-index: 5;
    transition: all .8s ease-in;
    position: absolute;
    right: 10px;
    top: 0px;
}

.navcloseBtn{
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 40px;
    display: none !important;
}

.navLinks{
    display: flex;
    align-items: center;
    gap: 30Px;
    position: relative;
   
    
}
.navLink{
     height: 40px;
     display: flex;
     align-items: center;
}
.dropdown{
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    margin: auto;
    display: none;
    background-color: var(--secondaryColor);
    top: 34px;
    left: 120px;
    cursor: pointer;

}
.dropdownMenu{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 8px   ;
    width: 100px;
}
.dropdownItem{
    font-size: 14px;
    font-weight: 700;
    z-index: 3;
    color: var(--secondaryText);
    padding: 10px 25px;
}
.dropdownItem:hover{
   background-color: rgba(0, 0, 0, 0.132);
   width: 100%;
}

.navLink:hover .dropdown{
    display: block;
}

.navLink:hover .dropdownIcon{
     transform:rotate(180deg);
     position: relative;
     top: 5px;
}

.navLinks .navLink a{
    font-size: 14px;
    font-weight: 700;
    color: var(--secondaryText);
}


/* .navLinks .navLink:after{
    content: " ";
    display: block;
    min-height: 2px;
    width: 0%;
    margin: auto;
    border-radius: 5px;
    background-color: var(--primaryText);
    transition: all .3s ease-in;
}
.navLinks .navLink:hover::after{
    width: 100%;
    max-width: 80px;

} */
.navBtns{
    display: flex;
    align-items: center;
}
.navLogo{
    font-size: 24px;
    font-weight: 700;
}
.navBtns{
    display: flex;
    gap: 32px;
}
.navBtns .loginLink{
    font-size: 14px;
    font-weight: 700;
    color: var(--primaryColor);

}
.navBtns .navBtn{
    padding:14px 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
    color: var(--secondaryColor);
    background: var(--primaryColor);
    width: 100px;

}


/* home */
.homeSection{
   background: var(--primaryBg);
   max-width: 100%;
   padding: 50px 0px;

}
.home{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.homeLeft{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
   
}
.headdingTag{
font-size: 16px;
font-weight: 700;
}
.headding{
font-size: 58px;
font-weight: 700;
}
.subHeadding{
font-size: 16px;
font-weight: 600;
text-align: left;
max-width: 350px;

}
.homeBtns{
    display: flex;
    gap: 20px;
}
.homeBtns button{
font-size: 14px;
font-weight: 700;
text-align: center;
padding: 12px 20px;
border-radius: 8px;
border: none;
width: 220px;
color: var(--secondaryColor);
letter-spacing: .4px;

}
.homeBtns .btnOne{
    background-color: var(--primaryColor);
}
.homeBtns .btnTwo{
    color: var(--primaryColor);
    border:2px solid var(--primaryColor);
    background-color: transparent;
    position: relative;
} 
.homeBtns .btnTwo:hover{
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}


.homeRight
{
   max-width: 100%;
}
.homeRight .mainImg{
    width: 100%;
}



/* product */

.productSection{
    max-width: 100%;
    padding: 50px 0px;
   

}
.products{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
}
.productOne{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 40px 35px 40px;
    box-shadow: 0px 13px 19px 0px #00000022;

}
.productOne .logoBox{
    width: 50px;
    height: 50px;
    color: var(--secondaryColor);
    border-radius: 6px;
    background-color: var(--primaryColor);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productOne .logoBox:hover{
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    font-size: 24px;
  
}
.productOne .productTitle{
    color: var(--primaryText);
    font-size: 14px;
    font-weight: 700;

}
.productOne .productUnderline{
    background: var(--underlineColor);
    width: 50px;
    height: 3px;

}
.productOne .productDescription{
font-size: 14px;
font-weight: 400;
text-align: left;
color: var(--secondaryText);

}




/* about */

.aboutSection{
    max-width: 100%;
    padding: 160px 0px;
    
}
.about{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;

}
.aboutLeft{
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.aboutLeft .aboutImg{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.aboutRight{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
.aboutRight .aboutUnderline{
    background: var(--underlineColor);
    width: 94px;
    height: 7px;

}
.aboutRight .aboutTitle{
font-size: 40px;
font-weight: 700;

}

.aboutRight .aboutDescription{
font-size: 14px;
font-weight: 400;

}
.aboutRight .aboutLink{
font-size: 14px;
font-weight: 700;
color: var(--primaryColor);
position: relative;
display: block;
padding: 6px 10px;
width: fit-content;

}
.aboutRight .aboutLink::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            width: 0;
            height: 0;
            background: transparent;
            border: 2px solid transparent;
}
.aboutRight .aboutLink:hover::before {
            animation: animate 1s linear forwards;
}


.aboutRight .aboutLink::after {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            width: 0;
            height: 0;
            background: transparent;
            border: 2px solid transparent;
        }

        .aboutRight .aboutLink:hover::after {
            animation: animates 1s linear forwards;
        }

      



/* courses */
.coursesSection{

   max-width: 100%;
   
}
.courses{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 100%;
    
}
.coursesTop{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
}
.coursesTop .coursesTag{
font-size: 14px;
font-weight: 700;
text-align: left;
color: var(--primaryColor);

}
.coursesTop .coursesTitle{
font-size: 40px;
font-weight: 700;
text-align: left;
color: var(--primaryText);

}
.coursesTop .coursesDescription{
font-size: 16px;
font-weight: 500;
text-align: left;
color: var(--secondaryText);

}
.coursesBottom{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.courseCard{
    max-width: 230px;
    display: flex;
    flex-direction: column;
}
.coursesImgBox{
  width: 100%;
  max-height: 400px;
  position: relative;
}
.coursesImgBox img{
    width: 100%;
    height: 100%;
}
.coursesImgBox .saleTag{
    background-color: var(--underlineColor);
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondaryColor);
    padding: 3px 10px;
    border-radius: 5px;
}
.coursesImgBox .iconBox{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 30px;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center ;
}
.coursesImgBox .iconBox .iconDiv{
    background-color: var(--secondaryColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center ;
    font-size: 14px;
    color: var(--primaryText);
    transition: all 5s ease-in;
}
.coursesImgBox .iconBox .iconDiv .icon{
    display: block;
    transition: all 5s ease-in;
}
.coursesImgBox .iconBox .iconDiv .iconFill{
   display: none;
    transition: all 5s ease-in;
}

.coursesImgBox .iconBox .iconDiv:hover .icon{
    display: none;
}
.coursesImgBox .iconBox .iconDiv:hover .iconFill{
    display: block;
}


.coursesContentBox{
    display: flex;
    gap: 18px;
    flex-direction: column;
    padding: 30px 16px;
    align-items: start;
}
.coursesContentBox .contentOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.coursesContentBox .contentOne .lang{
    font-size: 14px;
    font-weight: 500;
    color: var(--primaryColor);
    
}
.coursesContentBox .contentOne .rating{
    background-color: var(--primaryText);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: var(--secondaryColor);
    display: flex;
    gap: 6px;

}
.coursesContentBox .contentTwo{
font-size: 18px;
font-weight: 700;
color: var(--primaryText);

}
.coursesContentBox .contentThree{
font-size: 13px;
font-weight: 700;
color: var(--secondaryText);
}
.coursesContentBox .contentFour{
font-size: 14px;
font-weight: 700;
color: var(--secondaryText);

}
.coursesContentBox .contentFive{
font-size: 14px;
font-weight: 700;
display: flex;
gap: 10px;

}

.coursesContentBox .contentSix{
font-size: 12px;
font-weight: 400;
gap: 6px;
display: flex;
color: var(--primaryColor);

}
.coursesContentBox .contentBtn{
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 999px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--secondaryColor);
    transition: all ease-in .2s;
    display: flex;
    align-items: center;
    gap: 5px;
}
.coursesContentBox .contentBtn:hover{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}



/* pricing */

.pricingSection{
    width: 100%;
    padding: 100px 0px;
}
.pricing{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px   ;
}
.pricingTop{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricingTag{
font-size: 12px;
font-weight: 700;
color: var(--primaryColor);
}
.pricingTitle{
font-size: 40px;
font-weight: 700;
color: var(--primaryText);
}
.pricingDescription{
font-size: 14px;
font-weight: 400;
color: var(--secondaryText);

}
.pricingBottom{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 30px;
}
.pricingCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 320px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 60px ;
    position: relative;
}
.pricingCard .newTag{
    background-color: var(--underlineColor);
    color: var(--secondaryColor);
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
}

.pricingIcon{
    background-color: var(--pricingColor);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.pricingIcon i{
    font-size: 35px;
    color: var(--secondaryColor);
     transition: all .7s ease-in;
}
.pricingIcon:hover i{
  
   transform: rotatey(180deg);
}

.pricingPayment{
font-size: 24px;
font-weight: 700;
color:var(--primaryText);
}
.pricingCaption{
color: var(--secondaryText);
font-size: 14px;
font-weight: 700;

}
.pricingPrice{
font-size: 40px;
font-weight: 700;
color: var(--primaryColor);

}
.pricingPrice span{
    display: block;
    color: #8EC2F2;
font-size: 14px;
font-weight: 700;

}
.pricingContent{
 color: var(--secondaryText);
font-size: 14px;
font-weight: 400;

}
.pricingBtn{
color: var(--secondaryColor);
font-size: 14px;
font-weight: 700;
background-color: var(--primaryColor);
padding: 15px 40px 15px 40px;
border-radius: 5px ;
border: none;
transition: all .3s ease-in;
}

.pricingBtn:hover{
background-color: rgb(133, 96, 242);
transform: scale(1.01);
}
.pricingItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 12px;

}
.pricingItem {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pricingItem:nth-child(5) i{
   color: var(--disabledColor);
}
.pricingItem:nth-child(6) i{
   color: var(--disabledColor);
}
.pricingItem span{
font-size: 12px;
font-weight: 600;
color: var(--primaryText);

}
.pricingItem i{
    font-size: 22px;
    color: var(--primaryColor);
    transition: .5s ease all;

}
.pricingItem i:hover{
    transform: scale(1.2);

}


/* review */

.reviewSection{
    width: 100%;
    padding: 100px 0px;
}
.review{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px   ;
   
}
.reviewTop{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviewTag{
font-size: 12px;
font-weight: 700;
color: var(--primaryColor);
}
.reviewTitle{
font-size: 40px;
font-weight: 700;
color: var(--primaryText);
}
.reviewDescription{
font-size: 14px;
font-weight: 400;
color: var(--secondaryText);

}
.reviewBottom{
    width: 80%;
    display: flex;
    align-self: center;
    gap: 50px;
    justify-content: space-between;
    padding-top: 30px;
     
}
.reviewCard{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    align-items: center;
    padding: 20px;
   
}

.reviewProfile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.reviewCaption{
max-width: 320px;
font-size: 14px;
font-weight: 400;
text-align: center;
color: var(--secondaryText);

}
.reviewStars{
    display: flex;
    gap: 12px;
    font-size: 18px;
    justify-content: center;
   
}
.reviewStars i{
     color: var(--starColor);
     font-size: 18px;
}

.reviewName{
font-size: 16px;
font-weight: 700;
color: var(--primaryText);

}
.reviewPosition{
    color: var(--secondaryText);
font-size: 14px;
font-weight: 700;


}

/* email */

.emailSection{
    max-width: 100%;
    padding: 100px 0px;
    background-color: var(--secondaryBg);
}
.email{
    display: flex;
    flex-direction: column;
    gap: 80px   ;
    width: 100%;
    align-items: center;
    text-align: center;
}
.emailTop{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.emailTag{
font-size: 12px;
font-weight: 700;
color: var(--primaryColor);
}
.emailTitle{
font-size: 40px;
font-weight: 700;
color: var(--primaryText);
}
.emailDescription{
font-size: 14px;
font-weight: 400;
color: var(--secondaryText);

}
.emailBottom{
    display: flex;
    justify-content: center;
    gap: 0;
}
.emailInp{
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    width: 680px;
    border: none;
    outline: none;
}
.emailBtn{
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
}

/* footer */

.footerSection{
  
    max-width: 100%;
    padding: 60px 0px;
   
}
.footer{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 30px;
   
}
.footer .col1{
color: var(--primaryText);
font-size: 20px;
font-weight: 700;
max-width:200px;


}
.footerTitle{
color: var(--primaryText);
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;

}
.footer .col1 .footerCaption{
font-size: 12px;
font-weight: 600;
color: var(--secondaryText);
margin-top: 10px;
display: block;

}
.footerIcons{
    display: flex;
    justify-content: start;
    gap: 18px;
    color: var(--primaryColor);
    margin: 13px 0px;
    margin-top: 22px;

}
.subFooter{
    padding: 28px;
    background-color:var(--footerBg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subFooterContent{
font-size: 13px;
font-weight: 600;
color: var(--secondaryText);
word-spacing: 3px;

}





/* animatio for  button in the about sesction */

  @keyframes animates {
            0% {
                width: 0;
                height: 0;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: bvar(--primaryColor)lack;
            }

            50% {
                width: 0;
                height: 100%;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: var(--primaryColor);
                border-left-color: var(--primaryColor);
            }

            100% {
                width: 100%;
                height: 100%;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: var(--primaryColor);
                border-left-color: var(--primaryColor);
            }
        }
    
        @keyframes animate {
            0% {
                width: 0;
                height: 0;
                border-top-color: var(--primaryColor);
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

            50% {
                width: 100%;
                height: 0;
                border-top-color: var(--primaryColor);
                border-right-color: var(--primaryColor);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

            100% {
                width: 100%;
                height: 100%;
                border-top-color: var(--primaryColor);
                border-right-color: var(--primaryColor);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
        }
        /* // animation */